zsh/.config/zsh/ssh.zsh
vim/.vim/

# xmonad ignores
/xmonad/.xmonad/xmonad-x86_64-linux
/xmonad/.xmonad/xmonad.o
/xmonad/.xmonad/xmonad.hi
/xmonad/.xmonad/xmonad_test.hs

# emacs ignores
emacs.el
/emacs/.emacs.d/elpa
/emacs/.emacs.d/var
/emacs/.emacs.d/etc

# qtile ignores
/qtile/.config/qtile/__pycache__
