
URxvt*font: xft:Monaco:pixelsize=11

!URxvt*font: *-gohufont-medium-r-*-*-9-*-*-*-*-*-*-*
!*font: -*-gohufont-medium-*-*-*-14-*-*-*-*-*-*-*
!URxvt*font: xft:GohuFont:pixelsize=14
!URxvt*font: -*-erusfont-medium-*-*-*-*-*-*-*-*-*-iso10646-*
!URxvt*font: xft:erusfont:pixelsize=11

URxvt*scrollBar: false
URxvt*cursorBlink: false
URxvt*pointerBlink: false

Xcursor.theme: Adwaita

#include "/home/kevin/.config/xrcolors/tommorow"

!! COLORS !! 
!#include "/home/kevin/.config/xrcolors/ocean"
!#include "/home/kevin/.config/xrcolors/solarized"
!#include "/home/kevin/.config/xrcolors/sourcerer"
!#include "/home/kevin/.config/xrcolors/zenburn"
